<div class="cell">
    <h5>Logs</h5>
    <div class="row">
        <div class="cell">
            <div class="input-control text" data-role="datepicker">
                    <input type="text" #txtDate>
                    <button class="button"><span class="mif-calendar"></span></button>
            </div>
        </div>
        <div class="cell" style="margin:0px">
            <button class="button" (click)="getLogDataEvent(txtDate.value)">Load logs</button>
        </div>
        <div class="cell">
            <div class="treeview" data-role="treeview">
                <ul>
                    <li *ngFor="let blob of _blobs" attr.data-full-url="{{blob.OriginalURL}}">
                        <a [routerLink]="['/blob-visualizer', blob.OriginalURL]">
                            <span class="leaf">{{ blob.PrettyURL }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>